@import "null.scss";
@import "variables.scss";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
header {
    position: fixed; 
    top: 0;
    right: 0;
    left: 0; 
    background: $bg-black;
    .header_wrapper {
        margin: 0 1rem 0 5.764rem; 
        height: 3.8rem;
        display: flex;
        align-items: center; 
        justify-content: space-between;
        .logo { 
        }
        nav{width: 28.5rem; 
            margin-right: 8.5rem;
            @include nav-style;
        } 
        .menu { 
            display: none; 
        }
    }
}
main{
    section{
        padding: 0 8.5rem;
        &.section1{margin-top: 3.6rem;
            background: url(../img/bg/1section.jpg) no-repeat;
            background-size: 100% 100%;
            .section1_wrapper{                
                .column1{ 
                    height: 27.9rem;
                    max-width: 33.5rem;
                    display: flex;
                    flex-direction: column; 
                    justify-content: space-between;
                    .logo{
                        width: 13.5rem;
                    }
                    h1{
                        @include h1-style{
                            color:white;
                        }
                    }
                    .underline{
                        width: 8.5rem;
                    }
                    h5{ width: 13.5rem;
                        @include h5-style{ 
                            color: white;
                        }
                    }
                    a{
                        .button_1{
                            @include button_1-style; 
                            width: 13.5rem;
                            height: 2.9rem;
                        }
                    }
                }
            }
        }
    }
}
@include media-1024px; 
