//////STYLES
@mixin input-text-style {
    border-bottom: 1px solid #bdbdbd;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #bdbdbd;
    @content;
    &:focus {
        border-bottom: red 1px solid;
    }
}
@mixin input-submit-style {
    background: #ec7979;
    border-radius: 0px 0px 10px 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 60px;
    transition: all 0.4s;
    &:hover {
        background: #ab4949;
    }
    &:active {
        background: #ec7979;
    }
}
@mixin h1-style {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    @content;
}
@mixin h2-style {
    font-family: "Raleway";
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-bottom: 3rem;
    @content;
}
@mixin h3-style {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: #000000;
    @content;
}
@mixin h4-style {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    @content;
}
@mixin h5-style {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    @content;
}
@mixin h6-style {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 0.65rem;
    line-height: 0.9rem;
    display: flex;
    align-items: center;
    color: #000000;
    @content;
}
@mixin button_1-style {
    width: 13.5rem;
    height: 2.9rem;
    background: inherit;
    border: 2px solid #ffffff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #ffffff;
    transition: all 0.4s;
    &:hover {
        border: 2px solid #ec7979;
        color: #ec7979;
    }
    &:active {
        background: #833030;
        border: 2px solid #ab4949;
        color: #ffffff;
    }
}
@mixin button_2-style {
    background: #ec7979;
    width: 13.5rem;
    height: 2.9rem;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #ffffff;
    &:hover {
        background: #ab4949;
        transition: all 0.4s;
    }
    &:active {
        background: #ec7979;
        box-shadow: inset 0px 0px 10px #ab4949;
    }
}
@mixin nav-style {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    a {
        color: white;
        &:hover {
            color: goldenrod;
            transition: all 0.4s;
        }
    }
    @content;
}
@mixin RedLine-style {
    align-self: center;
    max-width: 8.5rem;
    margin-bottom: 2rem;
}
//MEDIA
@mixin media-1024px {
    @media (max-width: 1025px) {
        html {
            font-size: 15px;
        }
        header {
            .header_wrapper {
                .logo {
                    max-width: 8rem;
                }
                nav {
                    font-size: 12px;
                    margin-right: 0.6rem;
                }
            }
        }
        main {
            section {
                padding: 0 1rem 0 1.86rem;
                &.section1 {
                    padding: 0 1rem 0 7.6rem;
                    .section1_wrapper {
                        .column2 {
                            form {
                                max-width: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
}
